{{ partial "header.html" . }}

<main id="main">

    <div class="container">

        <div class="row topspace">
            <div class="col-sm-10 col-sm-offset-1">

	        <!-- Sidebar -->
		<aside class="col-sm-3 sidebar sidebar-right">
                    {{ partial "categories.html" . }}
		</aside>
		<!-- /Sidebar -->

		<!-- Article main content -->
		<article class="col-sm-9 maincontent">
                    <!-- List page for "blog" -->
                    {{ $paginator := (.Paginate .Data.Pages) }}
                    {{ range $paginator.Pages }}
                    <section class="post">
                        <div class="row">
                            <h3>
                            <!--i class="fa fa-{{ .Params.icon }} fa-stack-1x"></i-->
                            <a href="{{ .Permalink }}/#anchor">{{ .Title }}</a></h3>
                            <div class="entry-meta">
                                <span class="posted-on">
                                    <time class="entry-date published" date="{{ .Date }}">
                                        {{ dateFormat .Site.Params.DateForm .Date }}
                                    </time>
                                </span>
                            </div>
                            <br>
                            <p class="intro">{{ .Summary }}</p>
                        </div>
                    </section>
                    {{ end }}
	        </article>
	        <!-- /Article -->
            </div>
	</div>
    </div>	<!-- /container -->

</main>

{{ partial "footer.html" . }}
