<div class="row section recentworks topspace">

    <h2 class="section-title"><span>Research Group</span></h2>

    <div class="groups recentworks">
        {{ range $index, $area := .Site.Data.group }}
            <div class="col-sm-6 col-md-3">
                <a class="group" href="{{ .url }}">
                    <span class="img">
                        <img src="{{ .image }}" alt="">
                    </span>
                    <span class="title">{{ .name }}</span>
                </a>
                <span class="details">
                    {{ $len := sub (len .items) 1 }}
                    {{ range $i, $item := where .items "id" .index }}
                        <a href="{{ .url }}">{{ .name }}</a>
                        {{ if gt $len $i }} | {{ end }}
                    {{ end }}
                </span>
            </div>
        {{ end }}
    </div>

</div> <!-- /section -->
