<div class="row section topspace">
    <div class="col-md-12">
        <p class="lead text-center text-muted">
            The tight coupling between the atmosphere and the ocean is continuously shaping our climate by exchanging momentum, heat, freshwater and gases such as carbon dioxide. 
        <br>
        The Air-Sea Modeling Laboratory strives to better understand the air-sea coupling and its role on our climate in both global and regional scales.
        </p>
    </div>
</div> <!-- / section -->
