{{ partial "header.html" . }}

<main id="main">

	<div class="container">

		<div class="row topspace">

			<!-- Sidebar -->
			<aside class="col-sm-3 sidebar sidebar-right">

                                {{ $menu := .Params.Menu}}
				<div class="nav text-right nav-side">
                                    {{ range where .Site.Pages "Section" "research"}}
                                    {{ if isset .Params "weight" }}
                                    <li class="{{ if in .URL $menu }}active{{ end }}"><a href="{{ .URL }}#bs-example-navbar-collapse-1">{{ .Title }}</a>
                                    </li>
                                    {{ end }}
                                    {{ end }}
					<!--li class="active"><a href="#">{{ .Title }}</a></li-->
				</div>

			</aside>
			<!-- /Sidebar -->

			<!-- Article main content -->
			<article class="col-sm-9 maincontent">
                        {{ .Content }}
			</article>
			<!-- /Article -->


		</div>
	</div>	<!-- /container -->

</main>

{{ partial "footer.html" . }}
