{{ partial "header.html" . }}

<main id="main">

	<div class="container">

		<div class="row topspace">
                    <div class="col-sm-10 col-sm-offset-1">
			<!-- Sidebar -->
			<aside class="col-sm-3 sidebar sidebar-right">

                                {{ $menu := .Params.nickname }}
				<div class="nav text-right nav-side">
                                    {{ range where .Site.Pages "Section" "group"}}
                                    {{ if isset .Params "weight" }}
                                    <li class="{{ if in .URL $menu }}active{{ end }}"><a href="{{ .URL }}#anchor">{{ .Title }}</a>
                                    </li>
                                    {{ end }}
                                    {{ end }}
					<!--li class="active"><a href="#">{{ .Title }}</a></li-->
				</div>

			</aside>
			<!-- /Sidebar -->

			<!-- Article main content -->
			<article class="col-sm-9 maincontent">
                            <!--h3 style="text-align: center;">{{ .Title }}</h3-->
                            <br>
                            <br>
                            <div class="col-sm-5">
                                <div class="center-block" style="width:90%; max-width:200px;"><a href="{{ .Permalink }}">
                                    <img src="{{ .Site.BaseURL}}{{ .Params.banner }}" alt="" class="img-responsive"></a>
                                </div>
                            </div>
                            <div class="col-sm-7">
                            <table class="table table-borderless">
                                <tbody>
                                    <tr>
                                        <td colspan="2" style="text-align: center; font-size:x-large; font-weight:bold;">
                                            {{ .Title }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: right; padding-right: 10px;">Title :</td>
                                        <td>{{ .Params.job }}</td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: right; padding-right: 10px;">email :</td>
                                        <td>{{ .Params.email }}</td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: right; padding-right: 10px;">phone :</td>
                                        <td>{{ .Params.phone }}</td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: right; padding-right: 10px;">room :</td>
                                        <td>{{ .Params.room }}</td>
                                    </tr>
                                    <!--tr>
                                        <td style="text-align: right; padding-right: 10px;">webpage :</td>
                                        <td><a href="{{ .Params.web }}">{{ .Params.web }}</a></td>
                                    </tr-->
                                </tbody>
                            </tbody>
                        </table>
                        <br>
                        <br>
                        </div>
                        {{ .Content }}
		    </article>
	            <!-- /Article -->
		</div>
		</div>
	</div>	<!-- /container -->

</main>

{{ partial "footer.html" . }}
